.phone{color: black;margin-left: 5px}
.slyde{margin-top: 5px}
body{background-image: url("body.jpg"); background-attachment: fixed;background-size: cover;}
#slider{margin-top: 5px;}
#slider p{color: black;background-color: white}
#slider h5{background-color: black}